.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.home__continer {
  display: flex;
  margin-top: 10rem;
  align-items: center;   
}

.home__title {
  display: block;
  font-weight: 800;
  font-size: 2.5em;
}

.home__description {
  display: block;
  font-weight: 500;
  font-size: 1.5em;
  width: 70%;
  margin-bottom: 2rem;
}

.home__btn {
  background-color: rgb(26, 78, 56);
  border: none;
  padding: 1rem 2rem;
  color: #ffff;
  font-weight: 700;
  font-size: 1em;
  border-radius: 15px;
  cursor: pointer;
}

.home__img {
  width: 400px;
  height: auto;
  justify-self: center;
  object-fit: cover;
}